# Dependencies
node_modules/

# Forge
.forge/
.tunnel/

# Environment files (contains sensitive data!)
.env
.env.local
*.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build outputs
dist/
build/
README.md
src/constants.js
src/index.js
static/admin-page/.parcel-cache/data.mdb
static/admin-page/.parcel-cache/lock.mdb
static/admin-page/package-lock.json
